#hero-protocol{
height: 10vh;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
#form-task-section{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
  padding: var(--sp-2) 0;
}
#taskForm, .form-group-task{
  width: 100%;
  transition: 1s;
}
.form-group-task{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
 
}
.form-group-task label{
  font-size: 14px;
  text-align: start;
  color: #fff;
  width: 50%;
}
.form-group-task input{
  font-size: 14px;
  text-align: start;
  color: #fff;
  
}
.input-time{
  width: 80px;
}
.title-tag{
  color: var(--txt-white);
  text-transform: uppercase;
}
.form-tag-select, .form-day-select{
  background-color: #000;
  color: var(--txt-grey);
  padding: var(--sp-1) var(--sp-2);
  width: 100%;
  border-radius: var(--rad-sm);
  
}

#section-week-procotol{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: var(--sp-12);
}
.week{
  display: flex;
  flex-direction: row;
  width: 100%;
  border: solid 1px var(--border-medium-grey);
  
}
.hour-colum{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-right: solid 1px var(--border-grey);
}
.day{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-grey);
  border-right: solid 1px var(--border-medium-grey);
  line-height: 1;
  width: 100%;
}
.day:last-of-type{
  border: none;
}
.day-title{
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-light-grey);
  border-bottom: solid 1px #fff;
  width: 100%;
  padding: var(--sp-1) 0;
  font-weight: 400;
  width: 100%;
}
.hour{
  height: 20px;
  width: 100%;
  border-bottom: dotted 1px var(--border-grey);
  padding: var(--sp-1);
}
.hour-txt{
  font-size: 10px;
}


.task{
  background-color: var(--bg-black);
  padding: var(--sp-1);
  display: flex;
  flex-direction: column;
  margin-bottom: .25rem;
  gap: .4rem;
  border: solid 1px #000;
  border-radius: var(--rad-sm);
  height: max-content;
}
.task:hover{
  border: solid 1px var(--border-grey);
}
.header-task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-task{
  font-size: 16px;
  color: var(--txt-white);
}

.tag{
  font-size: 10px;
  padding: var(--sp-1) var(--sp-2);
  width:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: .9;
  text-align: center;
  border-radius: var(--rad-sm);
}
.health{
  background-color: var(--color-green-dark);
  color: var(--txt-white);
}
.nutrition{
  background-color: var(--color-yellow);
  color: var(--txt-white);
}
.study{
  background-color: var(--color-blue-light);
  color: var(--txt-white);
}
.training{
  background-color: var(--color-red-light);
  color: var(--txt-white);
}
.work{
  background-color: var(--color-blue);
  color: var(--txt-white);
}
.bottom-task{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .5rem;

}

.start-time ,.end-time{
  font-size: 12px;
}
 .mid-time {
  font-size: 10px;
}